.tree_item {
    font-size: large;
    background-color: #f1f1f1;
    padding: 5px;
}

.post_title {
    padding: 10px;
    color: #79aec8;
    font-size: x-large;
}

.post_content{
    width: 70%;
    height: 200px;
    overflow: hidden;
}

.post_created_time{
    margin: 0px;
}

.post_obj{
    margin-top: 25px;
    background-color: #efefef;
    text-align: left;
    font-size: smaller;
}

.tag_lists{
    float: left;
}

.category_list{
    float: right;
}