{% extends 'base_content.html' %}
{% load mptt_tags %}

{% block title %}Login{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    {% recursetree nodes %}
        <li>
            <a href="{% url 'category_detail_list' node.id %}">{{node.id}} - {{ node.name }}
            </a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    <a href="#">{{ children }}</a>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}


{% endblock %}
